// Typography
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $lightGray;
  height: 100%;
  min-height: 100vh;
  @include flex(flex, center, center, column);
}
