.container {
  @include flex(flex, center, center, row);

  @include media("<=950px") {
    @include flex(flex, center, center, column);
  }
}

// Font Weight
.bold {
  font-weight: $fontBig;
}
.med {
  font-weight: $fontMed;
}
.thin {
  font-weight: $fontThin;
  opacity: 0.85;
}

// Header
.header {
  text-align: center;
  margin-bottom: 3.7rem;
  width: 530px;
  margin-top: -3em;

  @include media("<=950px") {
    margin: 1.5em 0em;
  }

  @include media("<=650px") {
    width: 300px;
    margin-top: 4em !important;
  }

  @include media("<375px") {
    width: 250px;
  }

  &__head {
    font-size: 2.45rem;
    color: $darkBlue;

    @include media("<=650px") {
      font-size: 1.6rem;
    }
  }

  &__desc {
    margin: 1em 0em;
    font-size: 1.05rem;
    color: $darkBlue;
  }
}

// Card Content
.card {
  &--group {
    @include media(">=650px", "<=950px") {
      @include flex(flex, center, center, row);
    }
    @include media("<=650px") {
      @include flex(flex, center, center, column);
    }
  }
  &--supervisor {
    border-top: 4px solid $cyan;
  }
  &--builder {
    border-top: 4px solid $red;
    margin-top: 0em;
  }
  &--karma {
    border-top: 4px solid $orange;
    margin-top: 2em;
    @include media("<=950px") {
      margin-top: 0em;
    }
  }
  &--calculator {
    border-top: 4px solid $blue;
    @include media("<=950px") {
      margin-top: 0em;
    }
  }
}
